html {
    overflow:hidden;
    width: 30em;
    height: fit-content;
    background-color: antiquewhite;
}
::-webkit-scrollbar {
    display: none;
}

.Summary {
    text-align: center;
    width: fit-content;
    background-color: antiquewhite;
}

.Summary-header {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    max-width: fit-content;
    padding: 0 1em 0 1em;
}

.Summary-body {
    text-align: left;
    line-height: 1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    padding: 0.5em 1em 0.5em 1em;
    word-spacing: .06em;
}
