html {
    overflow:hidden;
    width: 30em;
    height: fit-content;
    background-color: antiquewhite
}

.Summary {
    text-align: center;
    width: fit-content;
    background-color: antiquewhite;
}

.Summary-header {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    height: 5em;
    font-size: 0.8em;
    max-width: fit-content;
    padding: 0.5em;
}

.Summary-body {
    text-align: left;
    line-height: 1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    max-width: 34em;
    padding: 1em 1em;
    word-spacing: .055em;
}