html {
    overflow:hidden;
    width: 20em;
    height: fit-content;
    background-color: antiquewhite
}

.Summary {
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}

.Summary-header {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    height: 3em;
    font-size: 100%;
    max-width: 34em;
    padding: 0.1em;
}

.Summary-body {
    text-align: left;
    line-height: 1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    max-width: 34em;
    padding: 1em 1em;
}